
.box {
    width:100%;
    height:100%;
    background-color:#EFEFEF;
    border-radius: 1em;
    margin: 10vh auto 0 auto;
    padding-top:15px;
      .boxSci {
      width:560px;
      }
  }
  .button,.buttonSpe,.buttonVide {
    border: 1px solid #EFEFEF;
    background-color:#EFEFEF;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
  }
  
  .button:hover, .buttonSpe:hover,.buttonOperator:hover {
    background-color: #c7c7c7;
    transition: 0.1s ease-in-out;
  }
  .buttonOperator {
    color:#ffa500;
    border: 1px solid #EFEFEF;
    line-height: 100px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-weight:400;
    font-size: 34px;
    }
  .buttons {
    display: grid;
    border: 1px solid #999898;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  input[swap="sci"]{
    display: none;
  }
  input[second="sec"]{
    font-weight: 600;
  }
  .buttonsSec {
    font-weight:600;
    font-size: 24px;
    font-family: cursive;
    display: grid;
    border: 1px solid #999898;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    color:black;
  }
  .buttonOperatorSci {
    color: #999898;
  }
  .buttonsSci {
    display: grid;
    border: 1px solid #999898;
    border-bottom-right-radius: 26px;
    border-bottom-left-radius: 26px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
  .container {
    max-width: 400px;
    border-radius: 25px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    padding-bottom: 2%;
      .containerSci {
      max-width: 500px;
      }
  }
  .divisionImg{
    height:25px;
  }
  .englobeButton {
    display: flex;
    justify-content: space-around;
  }
  .swapImg {
    height:41px;
    margin-top:20px;
  }
  #allClear {
    font-size: 25px;
  }
  .display,.result {
    text-align: right;
    height: 50px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
    background-color: white;
    border:2px solid #999898;
  }
  #container.containerSci{
    text-align: center;
    font-family: cursive;
  }
  #divisionBtn {
    font-size: 34px;
  }
  #equalBtn {
    border-radius: 50px;
    background-color: #f36d00;
    color: white;
  }
  #equalBtn:hover {
    background-color: #d46000;
  }
  #numberNine,#numberEight,#numberSeven,#numberSix,#numberFive,#numberFour,#numberThree,#numberTwo,#numberOne,#numberZero
  {
    font-weight:600;
  }

  #percentageBtn {
    font-size:25px;
  }
  #scndBtn.buttons{
    font-size:25px;
    color:gray;
  }
  #swapMode {
    background-color: #EFEFEF;
  }
 